<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}
 
<form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
        <img src="/static/i158187882._szw3000h2000_.jpg.jfif" alt="HTML5 Icon" width="167" height="298">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
 
</div>
</div>
</div>
</form>{% endif %}
{% endblock %}