<!DOCTYPE html>
<html>
<body>
<h1>Download Mananager Status Page</h1>
<p> <b>Datetime:</b> {{ time }} </p>

<h2> List of Download </h2>
    <h3> Waiting be processed</h3>
{% for q in queue %}
<p>{{ q }}</p>
{% endfor %}

<h2> Downloading (% completed) </h2>
<table border = 1>
        {% for key, value in result.items() %}
           <tr>
              <th> {{ key }} </th>
              <td> {{ value.file_title }} </td>
              <td>{{ value.percent }} %   </td>
           </tr>
        {% endfor %}
     </table>
</body>
</html>